:root {
  --orange: #ac6444;
  --lower-orange: #ac64441c;
  --dark: #000;
  --light: #fff;
  --alt-light: #f4f4f0;
  --skyblue: #1bb0ce;

  --gray: #ffffff4a;
}

* {
  transition: 0.3s;
}

body {
}

a {
  text-decoration: none;
}

/* adding to bootstrap  Start*/

.cursor-pointer {
  cursor: pointer;
}

/* adding to bootstrap  End*/

/* Global Styling  Start*/

.container-75 {
  width: 75%;
  margin: 0 auto;
}

.section-title {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--lower-orange);
}
.main-btn {
  display: block;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}

.main-btn:hover {
  background-color: var(--orange) !important;
  color: var(--dark) !important;
}

.background-effect {
  position: relative;
}

.background-effect::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 3rem;
  }
}

/* Global Styling  End*/

/* animation  */
/* animation  */

/* Start Landing  */

.landing-screen {
  background-image: url(../assets/images/istabrak-landing-img.jpg);
  /* backdrop-filter: ; */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  z-index: -1;

  header {
    nav {
      div {
        span {
          font-size: 1.4rem;
        }
        svg {
          font-size: 2rem;
        }
      }
    }
  }

  .widgets-layer {
    position: relative;
    top: 20%;

    .text-area {
      h3 {
        .large-text {
          font-size: 7rem;
        }
        .medium-text {
          font-size: 8rem;
        }
      }
    }

    .quote::after {
      content: "\f10e";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      top: -20px;
      right: -6rem;
      color: white;
      font-size: 6rem;
    }

    .widgets {
      .widget {
        flex-basis: 50%;
        height: 25%;
        transform: scaleX(0);
        transform-origin: left;
        animation: scale-width 0.4s ease-out 1 forwards;
        animation-delay: 1s;

        h2 {
          a {
            width: min-content;
          }
        }
      }

      .widget.widget-hide {
        opacity: 0;
      }
    }
  }

  .menu-area {
    opacity: 0;
    backdrop-filter: blur(25px);
    .close-menu {
      top: 100px;
    }
  }
}

/* Landing Animations  */

@keyframes scale-width {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes show-text {
  0% {
    scale: 1.5;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .navbar {
    .container {
      a {
        img {
          width: 120px;
        }
      }

      .menu-bars {
        .text-black {
          font-size: 1.4rem;
        }

        svg {
          font-size: 1.5rem;
        }
      }
    }
  }

  .landing-screen {
    .widgets-layer {
      top: 5%;
      .text-area {
        animation: none;
        h3 {
          .large-text {
            font-size: 5rem;
          }
          .medium-text {
            font-size: 6rem;
          }
        }
      }

      .quote::after {
        font-size: 4rem;
        right: -4rem;
      }

      .widgets {
        .widget {
          height: 55%;
        }
      }
    }
  }
}

/* Landing Medias */

@media (max-width: 575px) {
  .landing-screen {
    .widgets-layer {
      .text-area {
        h3 {
          span {
            width: fit-content;
          }
          display: flex;
          flex-direction: column;
          .large-text {
            font-size: 5rem;
          }
          .medium-text {
            font-size: 5rem;
          }
        }
      }

      .quote::after {
        font-size: 4rem;
        right: -4rem;
      }

      .widgets {
        .widget {
          height: 55%;
        }
      }
    }
  }
}

/* End Landing  */

/* Start About  */

.about {
  min-height: 100vh;
  /* padding: 100px; */

  .container-75 {
    .text-area {
      h2 {
      }
      h1 {
        font-size: 3.5rem;
        font-weight: 900;
      }

      div {
        max-width: 65%;
      }
    }
  }
}

@media (max-width: 767px) {
  .about {
    min-height: 100vh;
    /* padding: 100px; */

    .container-75 {
      .text-area {
        text-align: center !important;
        h1 {
          font-size: 3rem;
        }

        div {
          max-width: 100%;
        }

        a {
          margin: auto;
        }
      }
    }
  }
}

/* End About  */

/* Start Customers View  */

.customers-talk {
  background-color: var(--alt-light);
  .views {
    .container-75 {
      padding-bottom: 15rem;

      h1 {
        font-weight: 900;
        p {
          width: 75%;
        }
      }

      .gallery-site {
        .content-holder {
          width: 70%;
          margin: 0 auto;
          .info {
            width: 35%;
            top: calc(100% - 150px);
            right: 0;
            padding: 3rem;

            .person {
              .person-logo {
                width: 50px;
              }
            }
          }
        }
      }

      .buttons {
        span {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .customers-talk {
    .views {
      position: relative;
      text-align: center;
      .container-75 {
        padding-bottom: 10rem;
        h1 {
          p {
            width: 100%;
            font-size: 2rem;
          }
        }

        .gallery-site {
          margin-bottom: 200px;
          .content-holder {
            width: 100%;
            .info {
              flex-direction: column-reverse;
              width: 100%;
              top: calc(100%);
              padding: 1rem;
              blockquote {
                font-size: 1.5rem;
                /* width: 61% !important; */
              }

              .person {
                width: 100%;
                margin: 0 !important;
                border-bottom: 1px solid var(--gray);
                .person-logo {
                  width: 50px;
                }
              }
            }
          }
        }

        .buttons {
          position: absolute;
          bottom: -400px;
          left: 50%;
          transform: translateX(-50%);
          span {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}

/* End Customers View  */

/* Start Products  */

.products {
  .row {
    div {
      img {
        box-shadow: 0 0 20px 0px rgb(146, 144, 144);
      }

      h3 {
        color: var(--skyblue);
        position: relative;
      }

      h3::before {
        content: "";
        width: 15%;
        height: 1px;
        background-color: #00000079;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
      }

      h3:hover {
        color: var(--orange);
      }

      h3:hover::before {
        width: 100%;
      }
    }
  }
}

/* End Products  */

/* Start Discover */

.discover {
  .container-75 {
    .row {
      padding: 8rem 0;
      h1 {
        p {
          width: 90%;
          font-weight: 900;
          letter-spacing: -1;
        }
      }
      div {
        p {
          width: 45%;
        }
        a {
          background-color: var(--orange);
          color: var(--dark);
          font-weight: 500;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        a:hover {
          background-color: var(--dark);
          color: var(--orange);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .discover {
    .container-75 {
      .row {
        text-align: center;
        h1 {
          p {
            width: 100%;
          }
        }
        div {
          flex-wrap: wrap;
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
/* End Discover */

/* Start Footer */

footer {
  padding: 7rem;

  .row {
    .info {
      h3 {
        width: fit-content;
      }
      h3::before {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #000;
        position: absolute;
        left: 0;
        top: -20px;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    padding: 7rem 0;
    .row {
      text-align: center;
      .info {
        width: 100%;
        margin-bottom: 50px;
        h3 {
          width: 100%;
        }

        p {
          width: 100% !important;
        }

        h3::before {
          content: "";
          width: 50px;
          height: 1px;
          background-color: #000;
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      div {
        width: 40%;
        ul {
          text-align: center;

          li {
            display: block;
            a {
              display: block;
            }
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.57rem;

    margin-bottom: 40px;
  }
}

/* End Footer */
