.products {
  .container-75 {
    .holder {
      .row {
        div {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 10px;
          // flex-grow: 1 !important;

          img {
            &:hover {
              filter: contrast(5);
              scale: 0.9;
            }
          }
        }
      }
      .show-more {
        width: fit-content;
        background-color: var(--orange);
        color: var(--light);
      }
    }
  }
}

.gallery {
  div:has(> svg) {
    transition: 0.1s;
    &:hover {
      transition: 0.1s;
      color: var(--skyblue);
    }
  }
}
